body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.container {
  text-align: center;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.facebook {
  background: #4267B2;
}

.instagram {
  background: #f77737;
}

.threads {
  background: #000000;
}
.x {
  background: ##1DA1F2;
}

.youtube {
  background: #FF0000;
}

.whatsapp {
  background: #25D366;
}

.telegram {
  background: #0088CC;
}

.link i {
  font-size: 18px;
}
